<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Elements</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>direction</key>
				<true/>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Result</key>
		<dict>
			<key>high</key>
			<integer>10</integer>
			<key>medial</key>
			<integer>15</integer>
			<key>low</key>
			<integer>20</integer>
		</dict>
		<key>RoundNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Elements</key>
		<array>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>direction</key>
				<true/>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>direction</key>
				<false/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>direction</key>
				<true/>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>direction</key>
				<true/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>direction</key>
				<false/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>direction</key>
				<false/>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>direction</key>
				<true/>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>Result</key>
		<dict>
			<key>high</key>
			<integer>10</integer>
			<key>medial</key>
			<integer>15</integer>
			<key>low</key>
			<integer>20</integer>
		</dict>
		<key>RoundNumber</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
